<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="RoamingSpeed" value="1"/>
    <add key="ImageUri" value=""/>
    <add key="DarkThemeUri" value="/CodingChallenge;component/Themes/DarkTheme.xaml"/>
    <add key="LightThemeUri" value="/CodingChallenge;component/Themes/LightTheme.xaml"/>
    <add key="CurrentTheme" value="Auto"/>
  </appSettings>
</configuration>